{{> navbar}}
<br>
<section class="jumbotron text-center">
   <div class="container">
      <h1 class="jumbotron-heading">Pokémon PC online</h1>
      <p class="lead text-muted">Esta APP es un libro de registro donde puedes guardar a los Pokémon que tienes guardados en el pc sin necesidad de ir y volver a ver la PC del juego! Se requiere que actualices a mano constantemente ya que a la dev no de la el conocmiento, muchas gracias! :D</p>
      <p>
         <a href="/about" class="btn btn-dark my-2">Más sobre mi</a>
      </p>
   </div>
</section>
<br>
<section class="jumbotron text-center">
   <div class="container">
      <h3 class="jumbotron-heading">Últimos Pokémon agregados</h3>
   </div>
</section>
{{#each pokemon}}
<div class="album py-5 bg-light">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-8 mx-auto">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-pokemon-name">Pokémon: {{this.pkm_name}}</h5>
                  <h7 class="card-pokemon-level">Nivel: {{this.pkm_level}}</h7>
                  <br>
                  <h7 class="card-pokemon-type1">Tipo: {{this.type_1}} {{this.type_2}}</h7>
                  <br>
                  <div class="btn-group">
                     <a href="/pokemon/{{this.id}}">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                     </a>
                     <a href="/pokemon/{{id}}/update">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{{/each}}