{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <h1>Pokémon PC online</h1>
    <p>
      Esta APP es un libro de registro donde puedes guardar a los Pokémon que tienes guardados en el pc sin necesidad de ir y volver a ver la PC del juego! Se requiere que actualices a mano constantemente ya que a la dev no de la el conocmiento, muchas gracias! :D
    </p>
    <a href="/about">Más sobre mi</a>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Últimos Pokémon</h3>
  {{#each pokemon}}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-pokemon-name">{{this.pkm_name}}</h5>
        <h5 class="card-pokemon-level">{{this.pkm_level}}</h5>
        <h5 class="card-pokemon-type1">{{this.type_1}}</h5>
        <h5 class="card-pokemon-type2">{{this.type_2}}</h5>
        <a href="/pokemon/{{this.id}}" class="btn btn-primary btn-sm">Ver más</a>
      </div>
    </div>
  {{/each}}
</div>